section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    padding: 10vh 0;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#cal-head {
    display: flex;
    justify-content: space-between;
}

#brand {
    font-family: 'Poppins', sans-serif;
}

#themes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#theme-txt {
    font-size: 12px;
    font-family: 'Tajawal', sans-serif;
}

#theme-block {
    height: 15%;
    background-color: #d3cdcd;
    border: 1px solid #d3cdcd;
    border-radius: 50px;
    cursor: pointer;
    
}

#theme-dot {
    position: relative;
    height: 100%;
    width: 30%;
    background-color: #c15703;
    border: 0px solid #c15703;
    border-radius: 1000px;
}

#cal-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: auto;
    margin-bottom: 2vh;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 10px;
}

.ops {
    display: none;
    font-size: 10px;
    text-align: right;
    font-family: 'Noto Sans SC', sans-serif;
}

#output {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bolder ;
}

#cal-input {
    height: 30vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #d3cdcd;
    border: 1px solid #d3cdcd;
    border-radius: 8px;
}

.btn {
    width: 5vw;
    margin: 5px 5px;
    padding: 2px;
    background-color: #e5e4e0;
    border: 1px solid #e5e4e0;
    border-radius: 4px;
    box-shadow: 0px 1px 2.5px -1px black;
    font-size: 95%;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.5s ease-in-out;

}

.btn:hover {
    background-color: #afafab; 
    border: 1px solid #afafab;

}

.btn:focus {
    background-color: #e5e4e0;
    border: 1px solid #e5e4e0;
    outline: none;
}

#bRES {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #388187;
    border: 1px solid #388187;
    color: white;

}

#bRES:hover {
    background-color: #2e666b;
    border: 1px solid #2e666b;

}

#bEQL {
    width: auto;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #c85401;
    border: 1px solid #c85401;
    color: white;

}

#bEQL:hover {
    background-color: #db5c01;
    border: 1px solid #db5c01;

}

#bDEL {
    background-color: #388187;
    border: 1px solid #388187;
    color: white;

}

#bDEL:hover {
    background-color: #2e666b;
    border: 1px solid #2e666b;

}

@media screen and (max-width: 480px) {

    section {
        height: 70vh;
    }

    #calculator {
        width: 80%;
    }

    .btn {
        width: 10vw;
    }

    #bDEL {
        font-size: 80%;
    }
}